@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

/**********-----------APP----------**********
 **********------------------------**********/
html, body {
    padding: 0;
    overflow: hidden !important;
}

p{
    font-size: 1em;  
}

h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}

.adaptive-image{
    height: 742px;
    width: 100%;
}

.ui-mobile-viewport .back{
    height: auto;
    left: 0;
    position: absolute;
    //top: -3.4%;
    width: 100%;
    z-index: -1;
}

.ui-mobile-viewport{
    /******Home******/
    .back-home{
        height: auto;
        left: 0;
        position: absolute;
        //top: -3.4%;
        width: 100%;
        z-index: -1;
    }
    .home{
        .top{
            p{
                font-size: 0.93em;
            }
        }
        .bottom{
            p{
                font-size: 0.87em;
                margin-top: 3%;
                img{
                    width: 20%;
                }
            }
        }
        
    }
    /*******Calculadora******/
    .calculadora{
        .pasos{
            float: left;
            width: 32%;
            .ui-icon-carat-d{
                padding: 0;
                float: left;
                span, #age_dummy, #peso_dummy{
                    display: none;
                }
            }
        }
        #paso-1{
            h2{
                background: url("../img/pleca-calculadora1.png");
                background-size: 10% auto;
                background-repeat: no-repeat;
                padding-bottom: 2%;
                padding-left: 14%;
            }
            .ui-controlgroup-controls{
                float: left;
                width: 100%;
                .ui-radio{
                    width: 44%;
                }
                .ui-checkbox .ui-btn, .ui-radio .ui-btn{
                    background: none repeat scroll 0 0 #F0F0F0;
                    border-bottom: 2px solid #CECCCC;
                    padding: 10% 0;
                    text-align: center;
                }
                .ui-radio-on{
                    background: #3d3c3c !important;
                    color: #FFFFFF !important;
                }
            }
            .ui-select{
                float: left;
                width: 35%;
            }
        }
        #paso-2{
            margin: 0 2%;
            h2{
                background: url("../img/pleca-calculadora2.png");
                background-size: 10% auto;
                background-repeat: no-repeat;
                padding-bottom: 2%;
                padding-left: 14%;
            }
            form.ejercicio{
                float: left;
                width: 75%;
                .ui-radio{
                    margin-bottom: 1%;
                    width: 100%;
                }
                .ui-checkbox .ui-btn, .ui-radio .ui-btn{
                    background: none repeat scroll 0 0 #F0F0F0;
                    border-bottom: 2px solid #cecccc;
                    display: block;
                    padding: 5%;
                }
                .ui-radio-on{
                    background: #3d3c3c !important;
                    color: #FFFFFF !important;
                }
            }
            ul{
                float: left;
                list-style: none outside none;
                margin-left: 4%;
                margin-top: 13%;
                padding: 0;
                width: 20%;
                li{
                    padding-bottom: 13%;
                    padding-left: 8%;
                    width: 60%;
                }
            }
            .tiempo{
                p{
                    margin-bottom: 0;
                }
                canvas{
                    border: 5px solid #D7D8DB;
                    border-radius: 120px;
                    box-shadow: 0 0 2px 5px #C7C9CB;
                }
                .ui-input-text{
                    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
                    border: medium none;
                    box-shadow: none;
                    margin-left: 16%;
                    input{
                        border-radius: 75px;
                        margin: 30% 0 0 17% !important;
                        top: 0 !important;
                    }
                }
            }
            form.dias{
                float: left;
                width: 100%;
                .ui-controlgroup-controls{
                    float: left;
                    width: 100%;
                    .ui-radio{
                        margin-bottom: 1%;
                        width: 33%;
                    }
                    .ui-checkbox .ui-btn, .ui-radio .ui-btn{
                        background: none repeat scroll 0 0 #F0F0F0;
                        border-bottom: 2px solid #CECCCC;
                        display: block;
                        padding: 10% 0;
                        text-align: center;
                    }
                    .ui-radio-on{
                        background: #3d3c3c !important;
                        color: #FFFFFF !important;
                    }
                }
            }
        }
        #paso-3{
            h2{
                background: url("../img/pleca-calculadora3.png");
                background-size: 10% auto;
                background-repeat: no-repeat;
                padding-bottom: 2%;
                padding-left: 14%;
            }
            p{
                text-align: center;
            }
            .litros{
                background: none repeat scroll 0 0 #E61D2B;
                border-radius: 155px;
                color: #FFFFFF;
                font-size: 2em;
                margin-left: 20%;
                padding: 12%;
                width: 29%;
            }
            .pregunta{
                a{
                    background: none repeat scroll 0 0 #F0F0F0;
                    border-bottom: 2px solid #CECCCC;
                    color: #201F1F;
                    display: block;
                    margin-left: 20%;
                    padding: 5%;
                    text-align: left;
                    text-decoration: none;
                    width: 50%;
                }
            }
        }
    }
    /******Cuerpo | Hidratación******/
    .cuerpo-hidratacion{
        #content{
            .title{
                font-size: 3.2em;
                line-height: 1em;
                margin-bottom: 0;
                margin-top: 2.5%;
            }
            p{
                font-size: 0.82em;
                width: 58%;
            }
        }
        #tabs{
            .ui-tabs-nav{
                float: left;
                list-style: none outside none;
                margin: 0 0 0 6% !important;
                width: 94%;
                li{
                    background: url("../img/font-cuerpo.png");
                    background-size: 100% auto;
                    background-repeat: no-repeat;
                    margin: 0 0.8% 1% 0;
                    width: 10.6%;
                    img{
                        display: block;
                        margin: 0 auto;
                        padding: 5% 5% 10%;
                        width: 90%;
                    }
                }
                li.ui-tabs-active{
                    background: url("../img/font-cuerpo-hover.png");
                    background-size: 100% auto;
                    background-repeat: no-repeat;
                }
                .tab-5{
                    clear: both;
                }
            }
            
            .ui-tabs-panel{
                background-image: url("../img/font-dinamico.png");
                background-repeat: repeat;
                color: #FFFFFF;
                float: left;
                margin: 0;
                padding: 1% 2% 1% 5%;
                width: 96%;
                h2{
                    font-size: 2.7em;
                    margin: 0;
                }
                p{
                    line-height: 1.2em;
                    margin: 0;
                    width: 61%;
                }
            }
        }
    }
}


/***************Interiores***************/
.grid{
    float: left;
    position: relative;
    width: 100%;
}

#top{
    background: none repeat scroll 0 0 #F3F3F3;
    border-bottom: 2px solid #DBD9D9;
    padding-top: 5px;
    .atras{
        float: left;
        padding-left: 2%;
        img{
            width: 60%;
        }
    }
    .logo{
        float: right;
        padding-right: 2%;
        img{
            display: block;
            float: right;
            width: 62%;
        }
    }
}

#content{
    margin-left: 5%;
    width: 95%;
}





/******Beneficios de nuestras bebidas******/
.ui-mobile-viewport{
    .beneficios-de-nuestras-bebidas{
        #content{
            .top{
                color: #FFFFFF;
                .title-beneficios{
                    font-size: 2.2em;
                    margin-bottom: 10px;
                    margin-top: 1.5%;
                }
                p{
                    margin: 1% 0 0;
                    width: 51%;
                }
                img{
                    margin-left: 30%;
                    margin-top: 1%;
                    width: 20%;
                }
            }
            .bottom{
                .title-guias{
                    font-size: 2.2em;
                    margin-bottom: 0;
                    margin-top: 2%;
                    padding-left: 48%;
                }
                p{
                    margin: 1% 0 0 49%;
                    width: 50%;
                }
                img{
                    margin-left: 49%;
                    margin-top: 1%;
                    width: 25%;
                }
            }
        }
    }
}

.ui-mobile-viewport{
    .portafolio{
        #content{
            margin: 0;
            width: 100%;
            ul.productos{
                float: left;
                list-style: none outside none;
                margin: 0;
                padding: 0;
                li{
                    float: left;
                    width: 33.3%;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}

.marca{
    #content{
        margin: 0;
        width: 100%;
    }
}


/****Portafolio Té****/
.ui-mobile-viewport{
    .marca-te{
        #content{
            .image-pagination{
                position: absolute;
                top: 3%;
                width: 100%;
                img{
                    display: block;
                    margin: 0 auto;
                    position: relative;
                    width: 76%;
                }
            }
            .swiper-wrapper{
                .title{
                    float: left;
                    width: 100%;
                }
                p{
                    float: left;
                }
                .contenido-slide{
                    .image{
                        float: left;
                        margin-left: 13%;
                        width: 10%;
                        img{
                            width: 100%;
                        }
                    }
                    .content{
                        float: left;
                        margin-left: 5%;
                        width: 35%;
                        img{
                            margin-top: 2%;
                            width: 95%;
                        }
                    }
                }
            }
        }
    }
}